
                      .fusion-body .fusion-flex-container.fusion-builder-row-9 {
                        padding-top: 30px;
                        margin-top: 150px;
                        padding-right: 30px;
                        padding-bottom: 30px;
                        margin-bottom: 0px;
                        padding-left: 30px;
                      }
                      @media only screen and (max-width:640px) {
                        .fusion-body .fusion-flex-container.fusion-builder-row-9 {
                          margin-top: 30px;
                        }
                      }
                    