
                      .fusion-body .fusion-flex-container.fusion-builder-row-7 {
                        padding-top: 30px;
                        margin-top: 0px;
                        padding-right: 30px;
                        padding-bottom: 30px;
                        margin-bottom: 0px;
                        padding-left: 30px;
                      }
                    