
                        .fusion-body .fusion-builder-column-3 {
                          width: 66.666666666667% !important;
                          margin-top: 0px;
                          margin-bottom: 20px;
                        }
                        .fusion-builder-column-3>.fusion-column-wrapper {
                          padding-top: 60px !important;
                          padding-right: 0px !important;
                          margin-right: 2.88%;
                          padding-bottom: 60px !important;
                          padding-left: 0px !important;
                          margin-left: 2.88%;
                        }
                        @media only screen and (max-width:1024px) {
                          .fusion-body .fusion-builder-column-3 {
                            width: 66.666666666667% !important;
                            order: 0;
                          }
                          .fusion-builder-column-3>.fusion-column-wrapper {
                            margin-right: 2.88%;
                            margin-left: 2.88%;
                          }
                        }
                        @media only screen and (max-width:640px) {
                          .fusion-body .fusion-builder-column-3 {
                            width: 100% !important;
                            order: 0;
                          }
                          .fusion-builder-column-3>.fusion-column-wrapper {
                            margin-right: 1.92%;
                            margin-left: 1.92%;
                          }
                        }
                      