
      /* Avada Bug Fix */
      .wpcf7 .ajax-loader {
        background-image: url('images/ajax-loader.gif') !important;
      }
      /* Avada Bug Fix */
      /* Utility classes */
      .p-0 ul {
        padding: 0px;
      }
      .mb-0 p {
        margin-bottom: 0px;
      }
      .mt-0 h5 {
        margin-top: 0px;
      }
      .mt-0 p {
        margin-top: 0px;
      }
      .w-100 {
        width: 100%;
      }
      .minus-margin-top {
        margin-top: -130px;
      }
      .z-index {
        position: relative;
        z-index: 9;
      }
      .minus-margin-right-wrapper .fusion-title {
        width: 100%;
      }
      @media (min-width: 1024px) {
        .minus-margin-left {
          margin-left: -130px;
          position: relative;
          z-index: 2;
        }
        .minus-margin-right {
          margin-right: -130px;
          position: relative;
          z-index: 2;
        }
        .minus-margin-right-wrapper {
          margin-left: -280px !important;
          position: relative;
          z-index: 9;
        }
        .minus-margin-left-wrapper {
          margin-left: -170px !important;
          position: relative;
          z-index: 9;
        }
        #menu-main-menu,
        .box-shadow {
          box-shadow: rgba(89, 89, 89, 0.1) 1px 3px 5px 0px;
        }
        .box-shadow.z-index {
          box-shadow: none;
        }
        .box-shadow.z-index>.fusion-column-wrapper {
          box-shadow: rgba(89, 89, 89, 0.1) 1px 3px 5px 0px;
        }
      }
      .w-auto {
        width: auto !important;
      }
      .w-auto>div.fusion-flex-justify-content-flex-start {
        width: auto !important;
      }
      .fusion-flex-align-self-center>.fusion-column-wrapper {
        align-items: center !important;
      }
      .gold-outline {
        position: relative;
      }
      .gold-outline:after {
        content: "";
        height: 80%;
        width: 88%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid #CF9112;
      }
      .fusion-button {
        padding: 13px 35 px !important;
      }
      @media (min-width: 1024px) {
        .custom-overlay .fusion-row {
          flex-wrap: nowrap !important;
        }
        .custom-overlay-reverse .fusion-row {
          flex-wrap: nowrap !important;
          flex-direction: row-reverse;
        }
      }
      @media (max-width: 1024px) {
        .imageRight-textLeft .fusion-row {
          flex-direction: column-reverse;
        }
        .row-reverse-mobile .fusion-row {
          flex-direction: column-reverse;
        }
        .minus-margin-top {
          margin-top: 0px !important;
        }
      }
      /* Utility classes */
      /* Nav */
      #menu-main-menu {
        overflow: visible;
      }
      .fusion-menu-element-wrapper.collapse-enabled li.menu-item:not(.expanded) {
        border: #fff !important;
      }
      .fusion-tb-header .collapsed-nav-icon {
        font-size: 42px;
      }
      .fusion-tb-header .collapsed-nav-icon .fas {
        font-weight: 100;
      }
      .fusion-tb-header .fusion-menu-element-wrapper .fusion-menu-element-list>li:not(.fusion-menu-item-button):hover>a {
        color: #323232 !important;
      }
      .fusion-tb-header li a {
        color: #323232 !important;
      }
      .fusion-menu-element-wrapper .fusion-menu-element-list>li:not(.fusion-menu-item-button),
      .fusion-tb-header .fusion-menu-element-wrapper.collapse-enabled ul li.current-menu-ancestor>a {
        background: #fff !important;
        color: #323232 !important;
      }
      li>a>span.menu-text {
        color: #323232 !important;
      }
      .fusion-tb-header .fusion-menu-element-wrapper.collapse-enabled ul li.current-menu-item>a {
        background: #fff !important;
      }
      .fusion-tb-header .fusion-menu-element-wrapper.collapse-enabled ul li.current-menu-item>a:hover {
        background: #fff !important;
      }
      .fusion-tb-header .fusion-menu-element-wrapper.collapse-enabled ul li:hover>a {
        background: #fff !important;
      }
      @media (min-width: 1024px) {
        #menu-main-menu {
          top: calc(100% + 33px);
          left: 0 !important;
          width: 350px !important;
          max-height: 500px !important;
          overflow-x: hidden;
        }
      }
      @media (max-width: 1024px) {
        #wrapper .fusion-tb-header .fusion-builder-row {
          flex-wrap: nowrap;
          justify-content: space-between;
        }
        .fusion-tb-header .collapsed-nav-icon {
          font-size: 26px;
        }
        .fusion-tb-header img {
          height: 50px !important;
          object-fit: contain;
        }
      }
      /* Nav */
      /* Locations */
      .location-col .fusion-imageframe:after,
      .location-col-2 .fusion-imageframe:after {
        content: "";
        height: 92%;
        width: 90%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid #CF9112;
      }
      .location-col-2 .fusion-imageframe,
      .location-col-2 img {
        width: 100%;
        max-height: 620px;
        object-fit: cover;
      }
      #meetings .fusion-column-wrapper img {
        width: 100%;
        min-height: 290px;
        object-fit: cover;
      }
      /* News Letter */
      #row-reverse .fusion-row {
        flex-direction: row-reverse;
      }
      #customForm .wrap {
        position: relative;
      }
      #customForm br {
        display: none !important;
      }
      #customForm .wpcf7-submit {
        position: absolute;
        right: 0;
        top: 5px;
        height: 100%;
        background: none;
        color: #323232;
        font-size: 16px;
        height: auto;
      }
      #customForm .wpcf7-email {
        background: none;
        border: 1px solid #ce9027;
        border-radius: 0px;
      }
      #customForm .wpcf7-email::placeholder {
        color: #323232;
      }
      #customForm span.wpcf7-list-item {
        margin-left: 0px !important;
      }
      /* footer */
      .fusion-social-networks .fusion-social-network-icon:before {
        font-size: 24px;
      }
      /* slick fix */
      .slick-slide {
        padding: 0px 30px;
        margin-bottom: 15px;
      }
      .slick-slide:focus {
        outline: none !important;
      }
      .slick-dots li button:before {
        left: -25px !important;
        font-size: 14px !important;
        color: #fff !important;
        opacity: 0.9 !important;
      }
      .slick-dots li.slick-active button:before {
        color: #CF9112 !important;
      }
      /* IE fixes */
      @media all and (-ms-high-contrast: none),
      (-ms-high-contrast: active) {
        #banner {
          height: 70vh;
        }
        .location-col .fusion-column-wrapper>div:nth-child(1) {
          margin-bottom: -175px;
        }
      }
      #wpcf7-f533-p536-o1 form>p:nth-child(7) {
        text-align: center;
      }
      #wpcf7-f533-p536-o1 .same-line {
        display: flex;
      }
      #wpcf7-f533-p536-o1 .same-line>p:nth-child(2) {
        margin-right: 10px;
      }
      .centerImg img {
        height: 100px;
        width: auto;
        margin-left: auto;
      }
    