
      #wpadminbar .avada-menu>.ab-item:before,
      #wpadminbar>#wp-toolbar #wp-admin-bar-fb-edit>.ab-item:before {
        background: url(fonts/123-Internet-Avada-Logo.svg ) no-repeat center !important;
        background-size: auto !important;
        content: "" !important;
        padding: 2px 0;
        width: 20px;
        height: 20px;
        background-size: contain !important;
      }
    