
                  .fusion-body .fusion-builder-column-21 {
                    width: 33.333333333333% !important;
                    margin-top: 0px;
                    margin-bottom: 20px;
                  }
                  .fusion-builder-column-21>.fusion-column-wrapper {
                    padding-top: 0px !important;
                    padding-right: 0px !important;
                    margin-right: 5.76%;
                    padding-bottom: 0px !important;
                    padding-left: 0px !important;
                    margin-left: 5.76%;
                  }
                  @media only screen and (max-width:1024px) {
                    .fusion-body .fusion-builder-column-21 {
                      width: 33.333333333333% !important;
                      order: 0;
                    }
                    .fusion-builder-column-21>.fusion-column-wrapper {
                      margin-right: 5.76%;
                      margin-left: 5.76%;
                    }
                  }
                  @media only screen and (max-width:640px) {
                    .fusion-body .fusion-builder-column-21 {
                      width: 100% !important;
                      order: 0;
                    }
                    .fusion-builder-column-21>.fusion-column-wrapper {
                      margin-right: 1.92%;
                      margin-left: 1.92%;
                    }
                  }
                